.logo {
    width: 10%;
}

.container {
    width: 100%;
    text-align: center;
    padding-top: 8%;
    .frame {
        position: absolute;
        top: 0;
        left: 0;
    }

    .star-1 {
        position: absolute;
        top: 5%;
        right: 3%;
    }

    .logo {

    }
}

